/* * {
  box-sizing: border-box;
} */

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 200px 0 180px 0;
  background-image: url(img-1.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 46px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 10px;
  font-size: 22px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  /* background-color: rgba(34, 49, 52, 0.9); */
  position :fixed;
  top: 0;
  z-index: 10;
}
.base-theme{
  background-color: rgb(27, 27, 27);
 
  color: #f7f7f7;
}
.base-theme-header{
  opacity: 0.6;
}
/* span.menu-icon{
  float: right;
  color: white;
  font-size: 25px;
  padding: 21px 0px;
  display: none;
} */
#logo {
  width: 55px;
  height: auto;
}
/* #navbarButton{
  display: block;
  float: right;
} */
/* 
.header-left {
  float: left;
  height: auto;
}
.header-left img{
  height: 60px;
  background-color: white;
  border-radius: 22px;
  width: auto;
  display: inline-block;
  margin: 2.5px 0px;
} */
/*.header-left p{
  color:#eee;
  display: inline-block;
  line-height: 65px;
}*/

/* .header-right {
  float: right;
  margin-right: -25px;
  display: block;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
} */

/* .header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 33.33%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}


footer {
  padding-top: 80px;
  padding-bottom: 80px;
  /* background-color: rgba(34, 49, 52, 0.9); */
  height: 300px;
}

.footer-left{
  display: block;
  float: left;
  text-align: left;
  width: 50%;
}
footer img{
  width: 125px;
  border-radius: 25px;
}


.footer-right{
  display: block;
  float: right;
  text-align: right;
  width: 50%;
  color: #8d94db;
}
.footer-heading{
  font-size: 20px;
}
footer a{
  color: #f7f7f7;
}
footer a:hover{
  color: #50e6d9;
}
#tnc{
  display: inline;
  font-size: 10px;
  margin: 2px auto;
}
/* contact-us css */
